<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.java.org.myapp.mybatis.mapper.java.SimpleMapper">
	<resultMap type="SimpleObject" id="SimpleObjectResult">
		<id property="id" column="id" />
		<result property="text" column="text" />
	</resultMap>
	<select id="findAllObjects" resultMap="SimpleObjectResult">
		SELECT * FROM testschema."XSimpleTable";
	</select>
</mapper>