<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="build.properties"></properties>
	<typeAliases>
		<typeAlias alias="SimpleObject" type="main.java.org.myapp.classes.SimpleObject" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}" />
				<property name="url" value="${db.url}/${db.name}" />
				<property name="username" value="${db.admin}" />
				<property name="password" value="${db.admin.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/myapp/mybatis/mapper/xml/SimpleMapper.xml" />
	</mappers>
</configuration>